<!-- file: todo_project/todo_app/templates/todo_app/completed_todos.html -->

{% extends "todo_app/base.html" %}

{% block content %}

      <hr />
	 <ul>
	 {% for todo in todos  %}
	       <li>
		  <form action="{% url 'todo_app:change_status' %}" method="POST">
		     {% csrf_token %}
		     <input type="checkbox" name="checked" {% if todo.status %}checked{% endif %} >
		     <button>Update</button>
		     <button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
		     <input type="hidden" name="pk" value="{{ todo.pk }}">
		     {{ todo.text }}
		  </form>
	       </li>
	 {% endfor %}
	 </ul>
      <hr />
{% endblock %}

{% block footer %}
<a href="{% url 'todo_app:index' %}">Todos</a>
{% endblock %}
