<!-- file: todo_project/login_app/templates/login_app/password_reset.html -->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reset Password</title>
</head>
<body>
   <h1>Reset Password</h1>
   <hr />
   <form action="{% url 'login_app:password_reset' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="User Name">
      <br />
      <input type="password" name="password" placeholder="New Password">
      <br />
      <input type="password" name="confirm_password" placeholder="Repeat New Password">
      <br />
      <input type="text" name="token" placeholder="Token">
      <br />
      <button>Submit</button>
   </form>
   <hr />
</body>
</html>

